.page-header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: fffbf7;
  overflow: hidden;
}

.form-container.signup {
  width: 400px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 60px, 50px;
  height: 500px;

}

.form-container.signup h1 {
  margin-bottom: 20px;
  font-weight: 700;
  color: #222;
}

.form-container.signup input {
  width: 100%;
  padding: 16px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background: #f4f6f8;
  font-size: 15px;
  color: #333;
}

.form-container.signup input:focus {
  background: #fff;
  outline: 2px solid #ff6600;
}

.form-container.signup button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #ff6600;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}





