body {
  background: linear-gradient(135deg, #f5f7fa 0%, #e6edf3 100%);
  font-family: "Poppins", sans-serif;
  /* min-height: 100vh;
  padding-top: 40px; */
}

.index-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 90%;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  padding: 60px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: 0 auto;
}

.dish-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  width: 340px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: transform 0.25s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.dish-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}


.dish-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dish-info {
  padding: 20px;
  text-align: center;
}

.dish-info h2 {
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1d;
  margin-bottom: 8px;
}

.dish-location {
  font-size: 15px;
  color: #444;
  margin-bottom: 5px;
}

.dish-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}


.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.tag {
  background-color: rgba(255, 255, 255, 0.6);
  color: #ff5a00;
  border-radius: 20px;
  padding: 5px 12px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.filter-container {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-container label {
  font-weight: 600;
  color: black
}

.filter-container select {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  cursor: pointer;
}

