/* ====== الصفحة كاملة ====== */
body {
  background-color: #ffffff; /* نفس خلفية All Dishes */
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}


.detail-dish-container {
  max-width: 900px;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 24px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-dish-img img {
  width: 50%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 20px;
}

.dish-details {
  text-align: center;
  margin-bottom: 10px;
}

.dish-details h1 {
  font-size: 28px;
  color: #111827;
  font-weight: 700;
  margin-bottom: 10px;
}

.dish-details p {
  color: #4b5563;
  font-size: 15px;
  margin: 4px 0;
}

.dish-details strong {
  color: #111827;
}

.tags-container {
  margin-top: 10px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 6px;
}

.tag-bubble {
  background-color: #f3f4f6;
  color: #555;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 13px;
  text-decoration: none;
  transition: 0.2s;
}

.tag-bubble:hover {
  background-color: #ffefe5;
  color: #ff4b00;
}


.dish-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

.btn {
  border: none;
  border-radius: 8px;
  font-weight: 600;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}


.btn.warn {
  background-color: #ffcc00;
  color: #111827;
  box-shadow: 0 2px 5px rgba(255, 204, 0, 0.25);
}

.btn.danger {
  background-color: #ff4b00;
  color: #fff;
  box-shadow: 0 2px 5px rgba(255, 75, 0, 0.25);
}

.btn.back {
  background-color: #f3f4f6;
  color: #111827;
  display: inline-block;
  margin-top: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.btn.back:hover {
  background-color: #e5e7eb;
}

.add-photo-section {
  width: 100%;
  margin-top: 25px;
  background-color: #ffffff65;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 20px 24px;
  text-align: center;
   color: #ff6a00;
}

.add-photo-section h3 {
  color: #111827;
  font-size: 18px;
  margin-bottom: 10px;
}

.add-photo-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.add-photo-section input {
  width: 70%;
  padding: 8px 10px;
  border: 1px solid #f4f8ff;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  color: #333;
}

.add-photo-section input:focus {
  border-color: #ff7a00;
  /* width: 70%; */
}

.add-photo-section button {
  background: linear-gradient(135deg, #ff7a00, #ff4b00);
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 8px 0;
  width: 30%; 
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
  box-shadow: 0 3px 10px rgba(255, 122, 0, 0.25);
}

.add-photo-section button:hover {
  filter: brightness(1.05);
}
