 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

 body{

  /* background-color: #f6f7f9; */
  /* background: linear-gradient(135deg, #d4f7fd, #f6ebe7); */
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #f9fafb;

  

 }

#root {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

main {
  width: 100%;
  background: transparent;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
  margin: 30px;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #8a4e1d;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 12px;
  background: rgba(235, 187, 166, 0.15);
  transition: all 0.3s ease;
}

nav a:hover {
  background: rgba(244, 192, 192, 0.35);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(244, 174, 174, 0.3);
}

